<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaew_pc.diary_project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PasswordManagement.SettingPassword"
            android:label="@string/title_activity_password_manager"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Login"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".NoteManagement.NoteMainPage"
            android:label="บันทึกทั้งหมด" />

        <activity
            android:name=".NoteManagement.NoteCreatePage"
            android:label="บันทึกใหม่" />

        <activity
            android:name=".NoteManagement.NoteShowData"
            android:label="......" />

    </application>

</manifest>
